# Terraform working directories
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json
!*.tfvars.example

# SSH private keys
eks-bootcamp-key
*.pem

# Kubernetes secrets
secret.yaml
**/secret.yaml

# VS Code
.vscode/